@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap');

/* ===========================
   Variáveis de Cores
=========================== */
:root {
    --color-1: #F4E100;
    --color-2: #E6DFD8;
    --color-3: #DE5D25;
    --color-4: #1FB3AC;
    --color-5: #1B3F91;
    --color-6: #8E3F90;
    --color-7: #DE261A;
    --color-8: #171717;
    --color-9: #f5f5f5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../assets/fundocomu.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}


.Doação {
    padding: 60px 20px;
    font-family: Arial, sans-serif;
}


.Doação__conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.doacao__conteudo__titulo{
    text-align: center;
    font-size: 50px;
    padding: 1rem;
}

.div__doacao {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex: 1 1 500px;
    max-width: 600px;
    margin: 90px auto;
}

.doacao__conteudo__texto {
    font-size: 20px;
    line-height: 1.6;
    color: var(--color-8);
    margin-bottom: 20px;
    text-align: justify;

}

.div__doacao img{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex: 1 1 500px;
    max-width: 600px;
    height: 500px;
    width: 500px;
    margin-top: 87px;
}

iframe {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    border-radius: 8px;
}

/* Responsividade extra */
@media (max-width: 768px) {
    .Doação__conteudo {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .div__doacao,
    .div__doaco {
        max-width: 100%;
        padding: 20px;
    }

    .doacao__conteudo__titulo {
        font-size: 24px;
    }

    .doacao__conteudo__texto {
        font-size: 15px;
    }
}