:root{
    --fonte-principal: "Montserrat", sans-serif;
    --cor-de-fundo: #a9bce2;
    --preto: #171717;
    --vermelho: #DE261A;
    --azul-escuro: #1B3F91;
    --lilas: #8E3F90;
    --laranja: #DE5D25;
    --amarelo: #F4E100;
    --ciano: #1FB3AC;
    --cinza-claro: #E6DFD8;
    --branco: #f5f5f5;
    --cinza-escuro: #222;
    --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

/*========================
    PAGINAS DO SITE
=========================*/ 

a {
  color: var(--cinza-escuro);
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

/*========================
     LOGOTIPO
=========================*/ 


.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 70px;
  height: 70px;
}


/*========================
    PAGINAS DO SITE
=========================*/ 

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: var(--white);
  height: 8vh;
  padding: 3rem;
}


.nav-list {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

/*========================
    MENU HAMBURGUER
=========================*/ 


.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed; 
    z-index: 1000;   
    top: 8vh;
    right: 0;
    width: 60vw;
    height: 92vh;
    background: var(--white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    gap: 50px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    letter-spacing: 0.5px;
  }
  .mobile-menu {
    display: block;
  }
  .nav-list li a {
    font-size: 15px;
    color: black;
    text-align: center;
    width: 100%;
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}