:root {
  --color-1: #f4e100;
  --color-2: #e6dfd8;
  --color-3: #de5d25;
  --color-4: #1fb3ac;
  --color-5: #1b3f91;
  --color-6: #8e3f90;
  --color-7: #de261a;
  --color-8: #171717;
  --color-9: #f5f5f5;
}

main {
  flex: 1;
  padding: 30px;
}

.apresentacao__QS {
  font-family: "Cabin", sans-serif;
  width: 80%;
  max-width: 1000px;
  height: auto;
  padding: 24px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 90px auto;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--cinza-escuro);
}

.Atividades_Desenvolvidas {
  font-family: "Cabin", sans-serif;
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: 24px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 60px auto;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--cinza-escuro);
}

.Atividades_Desenvolvidas b {
  font-weight: bold;
  font-size: 20px;
  color: var(--azul-escuro);
}

/* ===========================
   Banner
=========================== */
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bannernovo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.div_foto2 {
  max-width: 100%;
  margin: 20px 0;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.div_foto2:hover {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .Atividades_Desenvolvidas {
    padding: 2rem;
    font-size: 16px;
  }

  .div_foto1,
  .div_foto2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .CPA_fotos {
    width: 80%;
    margin: 10px auto;
  }

  .banner {
    height: auto;
    min-height: 300px;
    background-position: center top;
    padding: 20px 10px;
  }
}
