@import url(header.css);
@import url(slide.css);
@import url(rodape.css);
@import url(home.css);
@import url(QuemSomos.css);
@import url(Cursos.css);
@import url(Parceiros.css);
@import url(Doação.css);


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap');

:root{
    --fonte-principal: "Montserrat", sans-serif;
    --cor-de-fundo: #a9bce2;
    --preto: #171717;
    --vermelho: #DE261A;
    --azul-escuro: #1B3F91;
    --lilas: #8E3F90;
    --laranja: #DE5D25;
    --amarelo: #F4E100;
    --ciano: #1FB3AC;
    --cinza-claro: #E6DFD8;
    --branco: #f5f5f5;
    --cinza-escuro: #222;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}



